services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Simuve39
      POSTGRES_DB: subscriptions_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8080:8080"

  migrate:
    image: migrate/migrate:v4.17.1
    volumes:
      - ./migrations:/migrations
    depends_on:
      - db
    entrypoint:
      [
        "migrate",
        "-path", "/migrations",
        "-database", "postgres://postgres:Simuve39@db:5432/subscriptions_db?sslmode=disable"
      ]

volumes:
  pgdata: